<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Currency Rates.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F42060841D7DE2DC00D4A70A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F42060981D7DE2DC00D4A70A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F42060A31D7DE2DC00D4A70A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
